# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

NETLIFY_AUTH_TOKEN=""

UI_DB_HOST=""
UI_DB_USERNAME=""
UI_DB_PASSWORD=""
UI_DB_NAME=""
UI_DB_PORT="5432"

FIVETRAN_DB_HOST=""
FIVETRAN_DB_USERNAME=""
FIVETRAN_DB_PASSWORD=""
FIVETRAN_DB_NAME=""
FIVETRAN_DB_PORT="5432"

APPTWEAK_DB_HOST=""
APPTWEAK_DB_USERNAME=""
APPTWEAK_DB_PASSWORD=""
APPTWEAK_DB_NAME=""
APPTWEAK_DB_PORT="5432"