.background {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: max(16px, 5vh) max(16px, 5vw);
}

.ribbonContainer {
    position: fixed;
    inset: 0;
    overflow: clip;
    pointer-events: none;
}

.ribbon {
    position: absolute;
    opacity: 70%;
}

.vertical {
    width: 20px;
}

.horizontal {
    height: 20px;
}

.orange {
    background-color: var(--bg-orange);
}

.purple {
    background-color: var(--bg-purple);
}

.orange:nth-child(1) {
    top: 0;
    bottom: 22%;
    left: 20%;
    border-bottom-left-radius: 50px;
}

.purple:nth-child(2) {
    bottom: 22%;
    left: 20%;
    right: 50%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transform: translate(20px, 20px);
}

.orange:nth-child(3) {
    bottom: 22%;
    top: 33%;
    left: 50%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transform: translate(20px, 0);
}

.purple:nth-child(4) {
    top: 33%;
    left: 50%;
    right: 0;
    border-top-left-radius: 50px;
    transform: translate(40px, -20px);
}

.card {
    background: rgba(235, 235, 235, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 45px;
    overflow: clip;
    box-shadow: var(--u-convex-outlined-shadow);
}

.fullSize {
    min-height: 80svh;
    width: 100%;
}
