.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    min-width: max(50vw, 300px);
    border: 0;
    background: rgba(235, 235, 235, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 35px;
    padding: 24px;
    box-shadow: var(--u-convex-outlined-shadow);
    overflow: visible;

    &::backdrop {
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(4px);
        position: fixed;
        inset: 0;
    }
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    min-width: max-content;
}
