@import url("reset.css");
@import url("vars.css");

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--fontFamily-system);
    background-color: var(--bg-color);
    background-image: var(--bg-gradient);
    background-attachment: fixed;
    color: hsl(0deg, 0%, 10%);
}
