@import url("reset.css");
@import url("vars.css");
@import url("util.css");

html,
body {
    padding: 0;
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    background: var(--bg-gradient);
    background-attachment: fixed;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 1) rgb(200, 200, 200);
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background: transparent;
}

html:hover::-webkit-scrollbar-thumb,
html:active::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3);
    border-radius: 5px;
}
