:root {
    --u-convex-shadow: 2px 2px 4px var(--shadow-dark-bright), -2px -2px 4px var(--shadow-light-bright),
        inset -2px -2px 4px var(--shadow-dark-dim), inset 2px 2px 4px var(--shadow-light-dim);
    --u-convex-simple-shadow: 4px 4px 8px var(--shadow-dark-dim), -1px 0px 2px var(--shadow-dark-dim),
        inset 2px 2px 4px var(--shadow-light-dim);
    --u-convex-light-shadow: 2px 2px 4px var(--shadow-dark-dim), -2px -2px 2px var(--shadow-light-dim),
        inset 1px 1px 2px var(--shadow-dark-dim);
    --u-convex-outlined-shadow: 4px 4px 8px var(--shadow-dark-dim), -4px -4px 8px var(--shadow-light-bright),
        inset 2px 2px 4px var(--shadow-dark-dim), inset 2px 2px 4px var(--shadow-light-dim);
    --u-concave-shadow: 2px 2px 4px var(--shadow-dark-dim), -2px -2px 4px var(--shadow-light-dim),
        inset 4px 4px 8px var(--shadow-dark-dim), inset -2px -2px 4px var(--shadow-light-dim);
}

.u-convex {
    box-shadow: var(--u-convex-shadow);
}

.u-convex-light {
    box-shadow: var(--u-convex-light-shadow);
}

.u-convex-outlined {
    box-shadow: var(--u-convex-outlined-shadow);
}

.u-concave {
    box-shadow: var(--u-concave-shadow);
}

.u-title {
    font-size: var(--title-text-size);
    color: var(--purple-text-color);
}

.u-smallTitle {
    font-size: var(--subtitle-text-size);
    color: var(--purple-text-color);
}

.u-subtitle {
    font-size: var(--subtitle-text-size);
    color: var(--normal-text-color);
}
