.dialContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialPercentageWrapper {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialPercentage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(rgba(131, 40, 152, 0.8) var(--percentage), rgba(255, 255, 255, 0.4) 0);
    box-shadow: var(--u-concave-shadow);
}

.dialPercentage::after {
    content: "";
    position: absolute;
    top: 14px;
    bottom: 14px;
    right: 14px;
    left: 14px;
    background: var(--dial-color);
    border-radius: 50%;
    z-index: 1;
}

.dialText {
    position: absolute;
    z-index: 2;
    color: var(--purple-text-color);
    font-size: var(--big-text-size);
    font-weight: 700;
}

.dialLabel {
    margin-top: 8px;
    color: var(--normal-text-color);
    font-weight: 600;
}
