.card {
    display: grid;
    gap: 24px;
    background: rgba(235, 235, 235, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 35px;
    padding: 24px;
}

.titleText {
    color: var(--purple-text-color);
    font-size: var(--subtitle-text-size);
    font-weight: 700;
    flex: 1;
}

.button {
}

.header {
    display: flex;
    gap: 16px;
}
