.graphWidgetTooltip {
    border-radius: 25px;
    box-shadow: var(--u-convex-light-shadow);
    padding: 12px;
    opacity: 88%;
}

.graphWidgetTooltipLabel {
    color: var(--normal-text-color);
    font-weight: 700;
}
