.navbar {
    height: 100%;
    box-shadow: var(--u-convex-simple-shadow);
    border-radius: 0;
    background: rgba(255, 255, 255, 0.4);
    padding: 32px;
    width: 280px;
}

.wrapper {
    position: sticky;
    top: 0;
    display: grid;
    justify-items: center;
    gap: 16px;
}

.list {
    margin: 0;
    padding: 0;
    padding-top: 32px;
    width: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    color: var(--normal-text-color);
    gap: 2px;
}

.isActive {
    font-weight: bold;
}

.team {
    font-weight: bold;
    font-size: var(--subtitle-text-size);
    color: var(--purple-text-color);
    word-wrap: break-word;
    word-break: break-word;
}

.team:not(:first-child) {
    padding-block: 32px 8px;
}
