.navbar {
    height: 100%;
    box-shadow: var(--u-convex-simple-shadow);
    border-radius: 0;
    background: rgba(255, 255, 255, 0.4);
    padding: 32px;
    width: 280px;
}

.wrapper {
    position: sticky;
    top: 0;
    display: grid;
    justify-items: center;
}
