.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    box-shadow: var(--u-convex-simple-shadow);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 45px;
    border-top-right-radius: 0;
    background: rgba(255, 255, 255, 0.4);
}
