.switch {
    width: 85px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(230, 230, 230, 0.5);
}

.handle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.25s ease-out;
    background-color: rgba(255, 255, 255, 1);
}

input:checked + .switch .handle {
    transform: translateX(45px);
}

.labelText {
    color: var(--normal-text-color);
    margin-left: 12px;
    margin-bottom: 6px;
    font-weight: 600;
}

.switchCheckbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
