.title {
    color: var(--purple-text-color);
    font-size: var(--big-text-size);
    flex: 1;
}

.addBtn {
    place-self: center;
}

.heading {
    padding-block: 32px 16px;
    display: flex;

    &:first-child {
        padding-top: 0;
    }
}
